In [19]:
!pip install arrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting arrow
  Downloading arrow-1.2.3-py3-none-any.whl (66 kB)
     |████████████████████████████████| 66 kB 3.9 MB/s
Requirement already satisfied: python-dateutil>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from arrow) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from arrow) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.0->arrow) (1.15.0)
Installing collected packages: arrow
Successfully installed arrow-1.2.3

In [18]:
import os
import sys
import requests
from bs4 import BeautifulSoup
import pandas as pd
import arrow

ModuleNotFoundError: ignored

In [2]:
URL = "https://www.petroldieselprice.com/Delhi-diesel-price"

In [3]:
resp = requests.get(URL)

In [5]:
resp.status_code

200

In [9]:
doc = BeautifulSoup(resp.content, 'html.parser')
# doc

In [13]:
all_tables = doc.find_all("table", class_="shop_table")
print(len(all_tables))

4

In [15]:
all_tables[1].find_all("tr")

[<tr><th>Date</th><th>Diesel Price / Litre</th><th> Change </th></tr>,
 <tr><td>22-May-22</td><td>₹ 89.62</td><td>₹ -7.05</td></tr>,
 <tr><td>6-Apr-22</td><td>₹ 96.67</td><td>₹ 0.8</td></tr>,
 <tr><td>5-Apr-22</td><td>₹ 95.87</td><td>₹ 0.8</td></tr>,
 <tr><td>4-Apr-22</td><td>₹ 95.07</td><td>₹ 0.4</td></tr>,
 <tr><td>3-Apr-22</td><td>₹ 94.67</td><td>₹ 0.8</td></tr>,
 <tr><td>2-Apr-22</td><td>₹ 93.87</td><td>₹ 0.8</td></tr>,
 <tr><td>31-Mar-22</td><td>₹ 93.07</td><td>₹ 0.8</td></tr>,
 <tr><td>30-Mar-22</td><td>₹ 92.27</td><td>₹ 0</td></tr>]

In [17]:
def extract_from_table(table):
    date=[]
    rate=[]
    all_rows = table.find_all("tr")
    for row in all_rows[1:]:
        d,r,_ = row.find_all("td")
        date.append(d.string)
        rate.append(float(r.string[2:]))

    return date,rate

print(extract_from_table(all_tables[1]))

(['22-May-22', '6-Apr-22', '5-Apr-22', '4-Apr-22', '3-Apr-22', '2-Apr-22', '31-Mar-22', '30-Mar-22'], [89.62, 96.67, 95.87, 95.07, 94.67, 93.87, 93.07, 92.27])

In [20]:
resp = requests.get("https://www.livemint.com/api/cms/fuelprice/gethistoricaldata/state/diesel/delhi/365")
data = resp.json()

In [21]:
len(data)

116

In [24]:
df = pd.DataFrame(data)

In [25]:
df["date"] = pd.to_datetime(df["date"])

In [26]:
df.head()

                         id  state displayName  price       date change
0  63809bbf729139691ef88c98  delhi       Delhi  89.62 2022-11-25   0.00
1  638161879bebaa5ff7a12b01  delhi       Delhi  89.62 2022-11-25   0.00
2  638169af3f3c9e668b984864  delhi       Delhi  89.62 2022-11-25   0.00
3  637ee53b3f3c9e4a0237145c  delhi       Delhi  89.62 2022-11-24   0.00
4  637d93bb729139703275a5ff  delhi       Delhi  89.62 2022-11-23   0.00

In [27]:
df["month_year"] = df["date"].dt.to_period("M")
df.head()

,id,state,displayName,price,date,change,month_year
0,63809bbf729139691ef88c98,delhi,Delhi,89.62,2022-11-25,0.00,2022-11
1,638161879bebaa5ff7a12b01,delhi,Delhi,89.62,2022-11-25,0.00,2022-11
2,638169af3f3c9e668b984864,delhi,Delhi,89.62,2022-11-25,0.00,2022-11
3,637ee53b3f3c9e4a0237145c,delhi,Delhi,89.62,2022-11-24,0.00,2022-11
4,637d93bb729139703275a5ff,delhi,Delhi,89.62,2022-11-23,0.00,2022-11